@font-face{
  font-family: "Pixel";
  src: url("/Users/jaycampanell/Documents/iml 300/iml300/html-portrait/assets/CoralPixels-Regular.ttf") format("ttf");
}

body {
  background-image: url("assets/sky.gif");
  background-size: cover;
  height: 100vh;
  font-family: Pixel;
}

body#page3 {
  background-image: url("assets/bg.gif");
  background-size: cover;
  height: 100vh;
}


img {
  height: 150px;
  border-radius: 20px;
  padding: 10px;
  transition: 1s;
  /*filter: grayscale(100%);
  /*      border: 3px solid blue; */
}

#img_gray {
  height: 200px;
  border-radius: 10px;
  padding: 0px;
  transition: 1s;
  filter: grayscale(100%);
}

#img_gray:hover {
  border-radius: 200px;
  filter: grayscale(0%)
}
/*img:hover {
  height: 200px;
  filter: grayscale(0%);
  /*   border: 1px solid red; 
  }
*/



p:hover {
  /*   transform: rotate(5deg); */
  letter-spacing: 0.5em;
}

.specialCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
a {
  animation: coolAnimation 3s infinite;
}

#p1 {
  animation: coolAnimation 5s infinite;
}

#p2 {
  animation: coolAnimation 4s infinite
}

#p3 {
  animation: coolAnimation 2s infinite;
}


@keyframes coolAnimation {
  0% {
    color: orange;
  }
  50% {
    color: green;
  }
  100% {
    color: black;
  }
}

#sliding-paragraph {
  height: 300px;
  font-family: pixel
}
/*
.slide-in .slide-out{
  display: block;
  top: 0px;
  left: 0px;
  position: absolute;

}

.slide-in {
  opacity: 0;
  -webkit-transform: translate(.25vw,0);
}
*/
#sliding-paragraph:hover {
  letter-spacing: normal;
}

/*
#sliding-paragraph:hover .slide-in {
  letter-spacing: normal;
  opacity: 1;
  -webkit-transform: translate(0, 0);
  color: green;
}


